*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none !important;
}
h1{
    text-align: center;
}
header button:active{
    background: none;
}
::before,::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    text-transform: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    user-select: none;
}
body{
    overflow-x: hidden;
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 90%;
}

/*------------------------------------------------*/
header{
    padding: 10px 0;
    width: 100%;
    background: #f6f6f6;
    position: fixed;
    z-index: 200;
}
.menu {
    position: relative;
    z-index: 10;
}
.header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.menu__item {
    position: relative;
    display: block;
    outline: none;
    margin: 0 0 1.5em;
    line-height: 1;
}

.menu__item-name,
.menu__item-label {
    position: relative;
    display: inline-block;
}

.menu__item-name {
}

.menu__item-label {
    margin: 0 0 0 0.5em;
}
.menu--adsila {
}

.menu--adsila a {
    color: #272727;
}

.menu--adsila .menu__item {
    margin: 0 0 1em;
}

.menu--adsila .menu__item-name {
    padding: 0 0.35em;
    font-weight: bold;
    line-height: 1.4;
    transition: color 0.5s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu--adsila .menu__item-name::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu--adsila .menu__item-label {
    font-size: 1em;
    letter-spacing: 0.05em;
    transform: translate3d(-0.5em,0,0);
    transition: transform 0.5s, color 0.5s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu--adsila .menu__item-label::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 25%;
    height: 1px;
    left: 0.05em;
    top: 1.25em;
    opacity: 0.3;
    transform: scale3d(0,1,1);
    transform-origin: 100% 50%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.menu--adsila .menu__item .menu__item-name::before,
.menu--adsila .menu__item .menu__item-label::before {
    background: #fe628e;
}
/* Hover */

.menu--adsila .menu__item:hover,
.menu--adsila .menu__item:focus {
    color: #fe628e;
}

.menu--adsila .menu__item:hover .menu__item-name::before,
.menu--adsila .menu__item:focus .menu__item-name::before,
.menu--adsila .menu__item:hover .menu__item-label::before,
.menu--adsila .menu__item:focus .menu__item-label::before {
    transform: scale3d(1,1,1);
}

.menu--adsila .menu__item:hover .menu__item-label,
.menu--adsila .menu__item:focus .menu__item-label {
    transform: translate3d(0,0,0);
}

.menu--adsila .menu__item:hover .menu__item-label::before,
.menu--adsila .menu__item:focus .menu__item-label::before {
    transition-timing-function: ease;
    transform-origin: 0 50%;
}


/*---------------------------------------*/
#home{
    position: relative;
    height: 100vh;
    background: url(../img/Depositphotos_77347752_xl-2015.jpg) no-repeat center top / cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}
.home .bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#FCDCE2 50%, #B3ECF6 );
    opacity: .8;
    z-index: 1;
}
.home .container{
    position: relative;
    margin: auto;
    z-index: 2;
    opacity: 1;
    height: 100%;
    color:#020535;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.mis-h1{
    font-size: 76px;
    text-transform: uppercase;
}
.home h3{
    font-size: 24px;
}
.home a{
    width: 41px;
    left: calc(50% - 21px);
    position: absolute;
    bottom: 0;
}
.home svg{
    width: 100%;
}
.home svg{
    fill: #020535;
}
.home a:hover svg{
    fill:#fe628e ;
}
@-webkit-keyframes hvr-icon-hang {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@keyframes hvr-icon-hang {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@-webkit-keyframes hvr-icon-hang-sink {
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@keyframes hvr-icon-hang-sink {
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
.hvr-icon-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-hang .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.hvr-icon-hang:hover .hvr-icon, .hvr-icon-hang:focus .hvr-icon, .hvr-icon-hang:active .hvr-icon {
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}
/*------------------------------*/

#participants{
    padding-top: 50px ;
    text-align: center;
}
#participants .container>h1{
    font-size: 35px;
    margin-bottom: 30px;
}
#participants .container> p{
    font-size: 15px;
    margin-bottom: 2rem;
}
.item-participants{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item{
    cursor: pointer;
    width: 22%;
}
.item p{
    margin-top: .5rem;
    color: #1c1d17;
}
.item div{
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
}
.participants span{
    background: linear-gradient(#FCDCE2 40%, #B3ECF6 );
    opacity: .7;
    height: 100%;
    left: 0;
    position: absolute;
    top:-100%;
    transition: top .7s;
    width: 100%;
}
.item-participants img{
    width: 100%;
}
#participants .item:hover span{
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    top: 0;
    user-select: none;
}

/*------------------*/

.windows{
    box-shadow: 0 0 40px 0 rgb(45, 18, 21);
    box-sizing: content-box;
    overflow: hidden;
    display: flex;
    background-color: #ffffff;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    z-index: 10;
}
.windows .l-r{
    margin: 0 20px;
    height: 100%;
    width: 30px;
    position: relative;
}
.exit{
    display: inline-block;
    position: absolute;
    width: 30px;
    top:18px;
    right: 15px;
}
.windows img{
    width: 100%;
}
.sl{
    left: 0;
    display: flex;
    opacity: 1;
    position: relative;
    text-align: left;
    width: 100%;
    transition: left 1s, opacity .5s;
}
.sl-img{
    width: 35%;
}
.sl-text{
    margin:60px 0 0 20px;
    width: 50%;
}
.sl-text p{
    padding-bottom: 20px;
}
a:hover polygon{
    fill: #fe628e;
}
a:hover path{
    fill: #fe628e;
}
.opacity_0{
    opacity: 0;
}
.right-w{
    left: 200%;
}
.left-w{
    left: -100%;
}
/*-----------------------------------*/
#competition{
    padding: 50px 0;
    background-color: #fff7fb;
    color: #1c1d17;
}
#competition h1{
    font-size: 35px;
    padding-bottom: 2rem;
}
.text-competition{
    width: 75%;
    margin:  0 auto;
    font-size: 15px;
}
#competition li{
    list-style-position: inside;
}
#competition strong{
    padding: 20px 0;
}
.text-competition-a{
   display: inline-block;
}
.arrow{
    display: inline-block;
}
.arrow-r{
    transform: rotate(200grad);
}
.close{
    display: none;
}
/*-------------------------------------*/

#sponsors .item-sponsors,#makeup .item-makeup{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

}
#sponsors .item-s, #makeup .item-m{
    cursor: pointer;
    width: 15%;
    margin: 2% 6%;
}
#sponsors, #makeup {
    padding: 50px 0 ;
}
#sponsors h1, #makeup h1{
    font-size: 35px;
}
#sponsors img, #makeup img{
    width: 100%;
}
/*-------------------------*/
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-i{
    width: 9%;
    max-width: 100px;
}
.f-i>div{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
footer >.container >nav{
    width: 80%;
}
.f-i>div a{
    color: #000000;
    width: 30px;
    height: 30px;
    text-decoration:none ;
}
.f-i a:hover{
    color: #fe628e;
}
.f-i a:hover svg{
    fill: #fe628e;
}
/*-----------------------------*/
.var-m{
    display: none;
    justify-content: space-between;
}
.logo-m{
    width: 30%;
}
.m-header{
    display: none;
    align-items: center;
    justify-content: space-between;
}

.cmn-toggle-switch {
    width: 40px;
    height: 40px;
    position: relative;
    padding: 0 5px;
    border: 0;
    margin-right: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
.cmn-toggle-switch_color{
   background-color: #fe628e;
}
.line-b{
    transition: all .7s;
    width: calc(100% - 10px);
    height: 3px;
    position: absolute;
    left: 5px;
}
.line-1{
    top: 7px;
}
.line-2{
    top: 18px;
}
.line-3{
    top: 29px;
}
.line-b-close{
    top: calc(50% - 2px);
}
.cmn-toggle-switch_close{
    background-color: #FF0000;
}
.cmn-toggle-switch_1{
    top: 18px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cmn-toggle-switch_3{
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
@media(max-width:826px){
    header{
        padding: 0;
    }
    .m-header{
        display: flex;
    }
    header .container{
        width: 100%;
    }
    .header-nav{
        display: none;
        width: 100%;
        align-items:unset;
        flex-direction: column;
        justify-content: flex-start;
    }
    .mis-h1{
        font-size: 3rem;
    }

    .sl-img,.sl-text{
        margin: 10px 0 0 5px;
    }
    .header-nav a{
        border-bottom: 2px solid #fe628e;
    }
    .header-nav a:nth-child(3){
        display: none;
    }
    .f-i:last-child{
        width: 30%;
    }
    .header-menu{
        display: none;
    }
    .item{
        width: 26%;
        margin-bottom: 20px;
    }
    .item div{
        height: auto;
    }
}
@media (max-width: 590px) {
    .logo-m{
        width: 20%;
    }
    .logo-m img{
        width: 100%;
    }
    .sl{
        margin-top: 30px;
        align-items: self-start;
    }
    .sl-img{
        margin: auto;
        width: 50%;
    }
    .sl-text{
        width: 50%;
        margin: 10px 0 0 5px;
    }
    .sl-text p{
        font-size: 10px;
    }
}
